/*mui autocomplete (combo box) icon*/
.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    padding: 1px !important;
}

.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    margin-right: -10px;
    margin-top: 0;
}

/*mui input adornment*/
.css-i4bv87-MuiSvgIcon-root {
    font-size: 20px;
}

.accordion-summary {
    background: #d4dbe1;
    display: flex;
    min-height: 38px !important;
}

.accordion-summary-title {
    width: 7%;
    flex-shrink: 0;
    font-family: FarhangFaNum-Bold;
    font-size: 15px;
    text-align: initial;
}

.accordion-summary-text {
    color: #0a3419;
    font-family: FarhangFaNum-Medium;
    font-size: 14px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    top: -10px;
}

.css-um44up-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input {
    padding: 0 !important;
}

.text-field {
    margin-right: 10px;
    margin-top: 12px
}

.MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input {
    padding: 0 !important;
}

.text {
    font-family: FarhangFaNum-Regular;
    font-size: 15px;
}

.outlinedInput-label {
    font-family: FarhangFaNum-Regular;
}

/*snack bar*/
.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
    background-color: #595959;
    min-width: 400px;
    margin-bottom: 50px;
}

/*snack bar message*/
.css-1exqwzz-MuiSnackbarContent-message {
    text-align: right;
    width: 85%;
    font-family: FarhangFaNum-Regular;
}

.MuiAccordionSummary-root {
    height: 38px !important;
}

/*.css-17o5nyn{*/
/*    margin: 0px 0px !important;*/
/*}*/

.css-o4b71y-MuiAccordionSummary-content {
    margin: 0 -26px !important;
}

.css-12vmu3i .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-2oddpr .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-adayd3 .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-1v2vn63 .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-1srm3j4 .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-13rthuy .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-slyssw {
    margin: 0 -20px 0 0 !important;
}

.css-1uvydh2 {
    padding: 20.5px 0 16.5px 14px !important;
}

.numeric-input {
    font-family: FarhangFaNum-Regular;
    border-radius: 5px;
    direction: ltr;
    width: 180px;
    height: 27px;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    margin-top: 14px;
    padding-left: 10px;
    font-size: 14px;
    padding-top: 2px;
}

.numeric-input:focus {
    outline: none !important;
    border: 2px solid #1975d0;
}

.css-36lhx3 .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-113gi2m .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-756kxw .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-yii9m6 .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

.css-14x63j2 .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    right: 0 !important;
}

