
.css-1ouyzdj {
    background-color: #d3e7f6 !important;
}

.css-kmud5h {
    background-color: #d3e7f6 !important;
}

.css-1un2853 {
    background-color: #d3e7f6 !important;
}

.muirtl-1c5ij41 {
    direction: rtl;
}

.muirtl-1ua80n0-MuiInputBase-input-MuiOutlinedInput-input {
    direction: ltr;
}

.muirtl-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    direction: ltr;
}

.login-page {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #09668c;
    border-radius: 4px;
    /*padding: 2px;*/
}

.login-form {
    width: 50%;
    background-color: #ffffff;
}

.login-content {
    width: 50%;
    height: 500px;
    /*background: url("/src/Assets/Image/loginBg.jpg");*/
    border-radius: 1px;
}

.shaparak-logo-div {
    text-align: end
}

.shaparak-logo {
    width: 200px;
}

.login-text {
    color: #ffffff;
    font-family: 'FarhangFaNum-Regular';
    margin-top: 30px;
    font-size: 18px;
    height: 19px;
}
.login-welcome {
    color: #ffffff;
    font-family: 'FarhangFaNum-Regular';
    margin-top: 30px;
    font-size: 16px;
    height: 19px;
}

.login-hr {
    width: 300px;
}

.welcome {
    color: white;
    font-family: 'FarhangFaNum-Medium';
}

.login-title {
    font-family: 'FarhangFaNum-Bold';
    margin-top: 40px;
    color: #005375;
    font-size: 17px;
    margin-bottom: 20px;
}

.login-inputProps {
    font-family: 'FarhangFaNum-Medium';
    height: 25px
}

.login-inputLabelProps {
    font-family: 'FarhangFaNum-Bold';
    font-size: 14px;
}

.login-error {
    font-family: 'FarhangFaNum-DemiBold';
    color: red;
}
.login-submit-btn{
    width: 100px;
    font-family: 'FarhangFaNum-Bold';
    margin-top: 30px;
    background-Color: #09678d;
}
.pass-input-adornment{
    margin-right: 5px;
}
