.drawer {
    direction: rtl;
    flex-shrink: 0;
}

.drawer-account-item {
    height: 90px;
}

.drawer-account-icon {
    width: 65px;
    height: 65px;
    color: #1d91cd;
}

.drawer-item:hover {
    background-color: #dcdcdc !important;
}

.drawer-item-icon {
    color: #5e5e5e;
}

.drawer-account-item-text {
    text-align: right;
    margin-right: 15px;
}

.drawer-account-item-username {
    font-family: FarhangFaNum-Bold;
    color: #717678;
}

.drawer-item-text {
    text-align: right;
    font-size: 14px;
    font-family: FarhangFaNum-Bold;
    color: black;
}

/*for selected item of drawer list*/
.css-hhj3q-MuiButtonBase-root-MuiListItem-root.Mui-selected {
    background-color: #e6e6e6 !important;
}

.drawer-list-item-divider {
    background-color: #bdbdbd;
}
.form-button {
    border: none !important;
    padding: 0 !important;
    width: 100%;
    background-color: white;
}

