.setting-title-for-activate-services {
    font-family: FarhangFaNum-DemiBold;
    margin-right: -90px;
}

.setting-title-for-activate-requests {
    font-family: FarhangFaNum-DemiBold;
    margin-right: -115px;
}

.setting-item-for-activate-service {
    font-family: FarhangFaNum-Regular;
    text-align: right;
}

.setting-item-for-activate-load-master {
    font-family: FarhangFaNum-Regular;
    text-align: right;
}

.setting-item-for-activate-save-master {
    font-family: FarhangFaNum-Regular;
    text-align: right;
}

.setting-submit-button {
    font-family: FarhangFaNum-Medium;
    margin-top: 20px;
    background-color: #0077a6;
    width: 113px;
    height: 32px;
}

.setting-title-for-ip-config {
    font-family: FarhangFaNum-DemiBold;
    margin-right: -125px;
}

.setting-ip-text-area {
    font-family: FarhangFaNum-Regular;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    width: 120px;
    height: 25px;
    margin-top: 7px;
    padding-right: 10px;
    padding-top: 3px;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    resize: none;
}